.combo-main-pic {
    width: 100%;
    height:400%;
}

.summer-camps {
    display:column;
    justify-content: space-around;
    .p-camp {
        margin: 4em 4em 4em 4em;
    }
    .mp-p-camp {
        margin:  4em 4em 4em 4em;
    }    
}
