
.page-container{
    display:flex;
    text-align: center;
    .senior-pic{      
        height:150px;
        width: 150px;
    }
.title-wrapper {   
    .title {       
        text-align: center;
        font-family: 'Homemade Apple', cursive;
        font-size: 40px;
        }
    }
.body-wrapper{    
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    letter-spacing: .01em;
    line-height: 1.7em;
    text-transform: none;
    color: rgba(40,26,23,.6);  
    }
    .required-wrapper {
        font-style: italic;  
        font-size: 17px;
    }
}
