
.pretty-wrapper{
    display: flex;
   
    .background-image{    
        background-image: url('/assets/news-pic/pink-background.jpg'); 
        height:500px;
        width: 600px;
        margin-left:30%; 
        font-size:20px;
        .logo-wrapper img{
            width:120px;
        }
        .summer-hours{
            font-size:15px;
            .hours{
                font-size:20px;
            }
        }
                
    }
    
}
.google-map{
    margin-top:20px;
    height:400px;
    width:600px;
    border: none;
} 