.competition-header {
    text-align: center;
}
.comp-header-words {
    font-family: 'Homemade Apple', cursive;   
    font-weight: bold;
}     
.dancers-gallery-wrapper {   
    display: flex;         
    flex-direction: column;  
    justify-content: center;             
    align-items: center;     
    margin-top: 25px;        
    width: 95%;
}
