@media (max-width:615px) {
    .app{
        .page-container{
        .nav-wrapper{  
            height:190px;                       
            .left-side{                       
                .logo{
                    width:100px;
                    height:120px;             
                }   
        .nav-link-wrapper {
            width:90vw;
        }                   
        } 
        .nav-bar-banner{
            width:100%;
            height:30%;
            margin-left: 1px;
            .nav-words{
                font-size:1.5rem;
                padding-top:2%;
                
            }
        } 
        
        }  
        // homepage-styles 
        .home-page-wrapper{       
            .testimonials-wrapper{
                .squares{
                    .square{
                        display:flex;
                        flex-wrap: wrap;
                    }
                }                
            }           
            .homepage-quotes{            
                width:99%;
                margin-left:1px;           
            }                
        }
        // competition team styles
        .image-gallery-content{
            margin-left:9%;
        }
        // combination classes styles
        .p-camp{
            width:300px;
        }
        .acro{
            width:300px;    
        }
        .mp-p-camp{
            width:300px;
        }
        .jazz{
            width:300px;
        }
        // gallery styles
        .competition-header{
            .dancers-gallery-wrapper{
             margin-left:30%;   
            }
        }
        // news styles
        .news-wrapper{            
            padding:1px;            
            .header{
                display: flex;
                text-align: center;
            }
            .news-banner{
                display: flex;
                .banner-pic{
                    width:100vw;;
                }
            }
            .news-column{
                
                
            }
        }
    }
}
}   
