
.heading {
    font-family: 'Homemade Apple', cursive; 
    font-size: 40px; 
}
.parent-link {   
    a {  
        font-size:15px; 
        color:grey;    
        cursor: pointer;       
        text-decoration: none;     
            &:hover {
                color: black;
            }

    }
}